@import "tailwindcss";

:root {
    --color-background: 245 246 248;
    --color-foreground: 30 30 32;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

.dark {
    --color-primary: 56 189 248;
    --color-secondary: 129 140 248;
    --color-background: 24 25 26;
    --color-foreground: 230 230 232;
}

html {
    transition:
        background 0.3s ease,
        color 0.3s ease;
}

body {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
    font-family: var(--font-sans), system-ui, sans-serif;
}
